@font-face {
  font-family: 'Genericons';
  src: url('../fonts/Genericons.svg'),
       url('../fonts/Genericons.woff'),
       url('../fonts/Genericons.eot'),
       url('../fonts/Genericons.ttf');
  font-weight: normal;
  font-style: normal;
}