// Media breakpoints
$phonePortrait:   '(max-width: 414px)';
$phoneLandscape:  '(min-width: 415px) and (max-width: 667px)';
$tabletPortrait:  '(min-width: 668px) and (max-width: 768px)';
$tabletLandscape: '(min-width: 769px) and (max-width: 1024px)';
$desktop:         '(min-width: 1025px);