@media (min-width: 1025px) {

    @import '../mobile';

    .wrapper {
        width: 55%;
        padding-top: 5%;
        padding-bottom: 5%;

        .content {
            .third {
                .social {
                    float: right;
                    margin-top: 0;
                    margin-right: -100px;
                }
            }
        }
    }

    .results {
        width: 50%;
    }
}
