@media (min-width: 415px) and (max-width: 667px) {

    @import '../mobile';

    .wrapper {
        width: 60%;
        padding-top: 10%;
        padding-bottom: 10%;

        .content {
            .third {
                .social {
                    float: right;
                    margin-top: 0;
                    margin-right: -100px;
                }
            }
        }
    }

    .results {
        width: 86%;
        margin: 0 auto;
        padding-top: 10%;

        .profile {
            height: 243px;

            .pic {
                float: right;
            }
        }
    }
}
