@media (min-width: 769px) and (max-width: 1024px) {

    @import '../mobile';

    .wrapper {
        width: 70%;
        padding-top: 15%;
        padding-bottom: 15%;

        .content {
            .third {
                .social {
                    float: right;
                    margin-top: 0;
                    margin-right: -100px;
                }
            }
        }
    }

    .results {
        width: 50%;
    }
}
