.space {
  flex: 1 1 auto;
}

.toolbar {
  background: #5c62d5;
}

.navbar-brand {
  font-weight: 600;
}

.toolbar a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

nav a {
  text-decoration: none;
}
