.card {
  width: 100%;
}

.card h5 ,
.new-modal h3 {
  display: inline-block;
}

.card-header {
  display: flex;
  align-items: center;
}

.selected {
  background: #4fa6d5;
}

.members {
  display: none;
  width: 100%;
}

.visible {
  display: block;
}

.new-modal {
  min-width: 300px;
  width: 50%;
  position: absolute;
  top: 10px;
  left: 15%;
  box-shadow: 4px 4px 4px #eee;
}


