  body {
    margin: 50px;
    width: 50%;
  }
  p, li {
    font-size: 22px;
  }
  .header {
    text-align: center;
  }
  .header p {
    text-align: left;
  }
  div {
    padding-top: 5px;
    line-height: 25px;
  }
