<header>
    <div class="logo">
        <a href="https://www.microsoft.com"><img src="images/microsoft.png" alt="logo"></a>
    </div>
    <nav>
        <ul class="nav-list">
            <li><a href="#">Sign in</a></li>
            <li class="sub-menu-toggle">
                <a href="#">Store</a>
                <span class="genericon genericon-expand"></span>
                <ul class="sub-menu">
                    <li><a href="#">Store home</a></li>
                    <li>
                        <a href="#">Devices</a>
                        <span class="genericon genericon-expand"></span>
                        <ul class="sub-sub-menu">
                            <li><a href="#">Microsoft Surface</a></li>
                            <li><a href="#">PCs & tablets</a></li>
                            <li><a href="#">Xbox</a></li>
                            <li><a href="#">Microsoft Band</a></li>
                            <li><a href="#">Microsoft Lumia</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Software</a>
                        <ul class="sub-sub-menu">
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Windows</a></li>
                            <li><a href="#">Additional software</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Apps</a>
                        <ul class="sub-sub-menu">
                            <li><a href="#">All apps</a></li>
                            <li><a href="#">Windows apps</a></li>
                            <li><a href="#">Windows phone apps</a></li>
                            <li><a href="#">Xbox apps</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Games</a>
                        <ul class="sub-sub-menu">
                            <li><a href="#">All games</a></li>
                            <li><a href="#">Xbox One games</a></li>
                            <li><a href="#">Xbox 360 games</a></li>
                            <li><a href="#">Windows games</a></li>
                            <li><a href="#">Games for Windows Phone</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Entertainment</a>
                        <ul class="sub-sub-menu">
                            <li><a href="#">All entertainment</a></li>
                            <li><a href="#">Films & TV</a></li>
                            <li><a href="#">Music</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Business & Education</a>
                        <ul class="sub-sub-menu">
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Student store</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sales</a></li>
                </ul>
            </li>
            <li class="sub-menu-toggle">
                <a href="#">Products</a>
                <span class="genericon genericon-expand"></span>
                <ul class="sub-menu">
                    <li><a href="#">Software & services</a>
                        ul.sub-sub-menu>(li>a[href="#"])
                    </li>
                    <li><a href="#">Devices & Xbox</a>
                        ul.sub-sub-menu>(li>a[href="#"])
                    </li>
                    <li><a href="#">For business</a>
                        ul.sub-sub-menu>(li>a[href="#"])
                    </li>
                    <li><a href="#">For developers & IT pros</a>
                        ul.sub-sub-menu>(li>a[href="#"])
                    </li>
                    <li><a href="#">For students & educators</a>
                        ul.sub-sub-menu>(li>a[href="#"])
                    </li>
                </ul>
            </li>
            <li><a href="#">Support</a></li>
        </ul>
    </nav>
    <div class="buttons">
        <ul class="buttons-list">
            <li>
                <button class="search-button"><span class="genericon genericon-search"></span></button>
            </li>
            <li>
                <a href="#" class="cart">
                    <span class="genericon genericon-cart"></span>
                    <span class="cart-amount">0</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mobile-nav">
        <button class="nav-button"><span class="genericon genericon-menu"></span></button>
    </div>
    <div class="search">
        <form action="post">
            <input type="search" placeholder="Пошук на веб-сайті Microsoft.com">
            <button type="submit"></button>
        </form>
    </div>
</header>