@import '../../mq';

@media #{$desktopMega} {
    $k: 1;
    @import '../desktop';

    .container {
        left: 38%;
        width: 24%;
    }

    .logo {
        width: 120px;
        margin: 200px auto 100px;
    }

    .form-container {
        height: 200px;
    }

    [type="text"] {
        height: 50px;
        padding: 0 0 0 74px;
        background-position: 26px center;
        background-size: 26px;
    }

    [type="password"] {
        height: 50px;
        padding: 0 0 0 74px;
        background-position: 26px center;
        background-size: 26px;
    }

    [type="submit"] {
        height: 47px;
        margin: 30px 0 0;
        font-size: 16px;
    }

    .links-container {
        margin: 30px auto 0;

        & > a {
            font-size: 14px;
        }
    }
}
