body {
  background: #f9f9f9;
  ;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.wrapper {
  margin: 0 auto;
  padding: 50px;
  width: 1150px;
  height: 900px;
  background: white;
}
.logo {
  color: #333333;
  font-family: "Tahoma";
  font-size: 36px;
  line-height: 1.2;
}
.logo:first-letter {
  color: #242424;
  font-weight: bold;
  font-size: 40px;
}
.menu {
  margin: 40px 0px;
  background-color: #515151;
  width: 1150px;
}
.menu li {
  float: left;
  padding: 15px;
  width: 120px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Tahoma";
  line-height: 1.2;
}
.menu li:hover {
  border: 1px solid #838383;
  background: #373737;
}
.left_menu {
  float: left;
  width: 280px;
}
.left_menu li {
  border: 1px solid #c8c8c8;
}
.left_menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #656363;
  font-size: 13px;
  font-family: "Tahoma";
  line-height: 1.2;
}
.left_menu li a:hover {
  padding-left: 50px;
  background-color: #f9f9f9;
  color: #2c2c2c;
}
.content {
  float: right;
  margin-left: 40px;
}
.photo {
  padding: 50px 150px;
  margin-bottom: 40px;
  border:1px solid #c8c8c8;
  text-align: center;
  overflow: hidden;
}
.content p {
  width: 790px;
  margin: 50px 20px;
  padding: 0;
  font-size: 14px;
  font-family: "Tahoma";
  line-height: 1.2;
}
.footer {
  background-color: #e1e1e1;
  width: 100%;
}
.footer li {
  float: left;
  width: 120px;
}
.footer li a{
  float: left;
  display: block;
  padding: 20px;
  color: #2c2c2c;
  font-family: "Tahoma";
  font-size: 13px;
  text-decoration: none;
}
.footer li:last-child {
  float: right;
  width: 200px;
}
.footer li a:hover {
  text-decoration: underline;
}
