button {
  width: 240px;
  height: 60px;
  border: 0;
  border-radius: 4px;
  background: $color3;
  color: $color1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    color: $color2;
  }
}

h1 {
  padding-top: 90px;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

header {
  width: 100%;
  background-color: $color4;
  background-image: url("../images/bg_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  .menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 7% 0 7.5%;

    .scroll-logo {
      display: none;
    }

    .nav-button {
      display: none;
    }

    nav {
      width: 67.3%;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;

        a {
          color: $color1;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.5px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            border-bottom: 2px solid $color3;
          }
        }
      }
    }
  }

  .scroll-menu {
    background: $color1;
    z-index: 20;

    & > a:first-child {
      display: none;
    }

    .scroll-logo {
      display: block;
    }

    nav ul a {
      color: $color2;
    }
  }

  .banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 224px;

    h1 {
      width: 68%;
      margin-top: 284px;
      margin-bottom: 82px;
      padding-top: 0;
      color: $color1;
      font-size: 60px;
      font-weight: 400;
      line-height: 75px;
      text-align: center;
    }
  }
}

.about-mvp {
  width: 100%;
  background: $color1;
  display: flex;
  justify-content: space-between;

  div:first-child {
    width: 36%;
    margin-top: 154px;
    margin-bottom: 143px;
    margin-left: 8.5%;
    padding-left: 1px;
    color: $color2;
    text-align: left;

    h2 {
      font-size: 50px;
      font-weight: 300;
      padding-left: 1px;
    }

    p {
      margin: 50px 0 60px;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
      opacity: .6;
    }

    h3 {
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 600;
      line-height: 34px;
      text-transform: uppercase;
    }
  }

  .hand-phone {
    width: 44%;
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 1500px;
      position: absolute;
      top: -118px;
      object-fit: contain;
    }
  }
}

.work {
  width: 100%;
  height: 467px;
  background: $color5;

  h1 {
    color: $color2;
    margin-bottom: 70px;
  }

  .blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 6% 0 7%;

    div {
      width: 15%;
      text-align: center;

      .img-wrapper {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border: 2px solid $color4;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h2 {
        width: 100%;
        margin-top: 37px;
        color: $color2;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .next {
      margin-top: 23px;
      color: $color4;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: -1px;
    }
  }
}

.technologies {
  width: 100%;
  padding-bottom: 83px;
  background: $color2;
  opacity: .8;
  color: $color1;

  h1 {
    padding-bottom: 56px;
    padding-left: 6px;
  }

  & > div {
    width: 100%;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    .first {
      width: 75%;
      padding-right: 2.5%;
      padding-top: 5px;
    }

    .second {
      width: 73.5%;
      padding-right: 5.2%;
    }

    .third {
      width: 38%;
    }
  }
}

.areas {
  width: 100%;
  padding-bottom: 83px;
  background: $color1;

  h1 {
    padding-bottom: 67px;
  }

  & > div {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
      width: 100%;
      padding-left: 2.5%;
      padding-right: 3%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      div {
        width: 13.5%;
        text-align: center;

        h2 {
          margin-top: 20px;
          color: $color2;
          font-size: 15px;
          font-weight: normal;
          line-height: 20px;
        }
      }
    }
  }
}

.price {
  width: 100%;
  padding-bottom: 83px;
  background: $color5;
  padding-right: 9.3%;
  padding-left: 9.3%;

  h1 {
    padding-bottom: 68px;
  }

  & > div {
    display: flex;
    justify-content: space-between;

    .column {
      width: 30%;
      padding-bottom: 28px;
      background: $color1;
      border-radius: 4px;
      text-align: center;

      h2 {
        margin-top: 36px;
        color: $color2;
        font-size: 30px;
        font-weight: 600;
        opacity: 0.6;
        text-transform: uppercase;
      }

      h4 {
        margin-top: 18px;
        color: $color3;
        font-size: 18px;
        font-weight: 600;
      }

      ul {
        width: 82%;
        margin: 19px auto;
        padding-top: 15px;
        padding-left: 6%;
        border-top: 1px solid $color5;
        border-bottom: 1px solid $color5;
        text-align: left;

        li {
          margin-bottom: 15px;
          padding-left: 8px;
          font-size: 15px;
          line-height: 1.4;
          letter-spacing: -.4px;
        }

        & > li:nth-child(7) {
          margin-bottom: 20px;
        }

        & > li:last-child {
          margin-top: 20px;
          margin-bottom: 13px;
        }

        .done {
          color: $color2;
          list-style: url("../images/check.png");
        }

        .not-done {
          color: $color6;
          list-style: url("../images/close.png");
        }
      }

      h3 {
        font-family: Avenir, sans-serif;
        font-size: 32px;
        font-weight: 500;
        color: $color4;
      }

      button {
        margin-top: 25px;
      }
    }
  }
}

.portfolio {
  width: 100%;
  height: 930px;
  background: radial-gradient(circle at 50% 46%, $color7, $color8);
  text-align: center;

  h1 {
    color: $color1;
  }

  .mobile-slider {
    display: none;
  }

  .slider {
    width: 100%;
    height: 85%;
    padding-top: 70px;

    img {
      height: 289px;
    }

    h2 {
      margin: 81px auto 30px;
      color: $color1;
      font-size: 30px;
      font-weight: 600;
    }

    button {
      margin: 45px auto;
    }

    p {
      color: $color1;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.89;
      text-align: center;
    }
  }
}

.about-us {
  width: 100%;
  background: $color1;
  position: relative;

  h1 {
    margin-bottom: 80px;
  }

  .faces {
    margin-left: 17%;
    margin-right: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p {
        margin-top: 15px;
        font-size: 18px;
        font-style: italic;
        letter-spacing: -.3px;
        color: $color2;
      }

      & > div {
        height: 100px;
        display: flex;
        flex-direction: row;
        margin-top: 45px;
        margin-left: 5px;

        .person {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 5.5%;
          padding-top: 10px;

          h3 {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
          }

          .social {
            margin-bottom: 4px;

            a {
              margin-right: 2px;
            }
          }
        }
      }
    }

    & > div:last-child {
      & > p {
        text-align: right;
      }

      & > div {
        margin-left: 22px;
      }
    }
  }

  .connect {
    display: flex;
    justify-content: flex-end;
    margin-right: 7.1%;
    padding-top: 35px;

    img {
      cursor: pointer;
    }
  }

  .chat {
    width: 26%;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 21%;
    text-align: center;
    z-index: 20;

    header {
      width: 100%;
      height: 50px;
      background: $color3;
      color: $color1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 6%;

      h2 {
        margin-top: -4px;
        font-size: 16px;
        letter-spacing: .4px;
        text-transform: uppercase;
      }

      img {
        height: 12px;
        cursor: pointer;
      }
    }

    figcaption {
      width: 100%;
      padding: 20px 52px 17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $color5;
      border-radius: 2px;

      img {
        width: 75px;
        height: 75px;
      }

      blockquote {
        width: 100%;
        margin: 0 auto;
        padding: 17px;
        font-size: 14px;
        line-height: 21px;
        background: $color1;
      }

      .triangle {
        width: 0;
        height: 0;
        border-bottom: 12px solid $color1;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    form {
      width: 100%;
      background: $color8;
      padding: 25px 42px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        padding-left: 12px;
        background: $color6;
        border: 0;
        border-radius: 2px;
        color: $color1;
      }

      ::-webkit-input-placeholder {
        color: $color1;
      }

      ::-moz-placeholder {
        color: $color1;
      }
      /* Firefox 19+ */
      :-moz-placeholder {
        color: $color1;
      }
      /* Firefox 18- */
      :-ms-input-placeholder {
        color: $color1;
      }

      button {
        width: 68%;
        font-weight: normal;
        height: 50px;
        font-size: 15px;
      }
    }
  }

  h2 {
    margin-top: 16px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: .5;
    text-align: center;
    text-transform: uppercase;
  }

  .companies {
    width: 100%;
    height: 314px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0 67px 0;

    div {
      width: 58%;
      display: flex;
      justify-content: space-around;

      &:last-child {
        width: 76%;
      }
    }
  }
}

.slogan {
  width: 100%;
  line-height: 250px;
  background: $color4;
  color: $color1;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
}

.references {
  width: 100%;
  height: 638px;
  background: $color1;

  h1 {
    margin-left: 7px;
  }

  .mobile-slider {
    display: none;
  }

  .slider {
    width: 100%;
    height: 85%;
    padding-top: 80px;

    .dg-wrapper {
      width: 52%;

      img {
        width: 87.5px;
        height: 87.5px;
        margin-top: 8px;
      }

      .dg-center img {
        width: 110px;
        height: 110px;
      }

      p {
        margin-top: 78px;
        color: $color2;
        font-size: 18px;
        font-style: italic;
        line-height: 1.78;
        opacity: 0.6;
      }

      h2 {
        margin-top: 22px;
        color: $color4;
        font-size: 18px;
        font-weight: bold;
      }
    }

    nav {
      /*width: 51%;
      margin-left: 24.5%;*/
      bottom: 378px;
    }
  }
}

.contact {
  width: 100%;
  padding-bottom: 40px;
  background: $color5;

  p {
    width: 48%;
    margin: 28px auto 60px;
    opacity: 0.6;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.78;
    text-align: center;
    color: $color2;
  }

  form {
    width: 59%;
    margin: 0 auto;

    .contacts {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > div {
        width: 43%;

        input {
          width: 100%;
          height: 50px;
          display: block;
          margin-bottom: 20px;
          padding-left: 14px;
          border: 0;
          border-radius: 2px;
          color: $color2;
          font-size: 18px;
        }
      }

      textarea {
        width: 55%;
        height: 191px;
        padding-top: 14px;
        padding-left: 14px;
        border: 0;
        border-radius: 2px;
        font-size: 18px;
        color: $color2;
        resize: none;
      }
    }

    button {
      display: block;
      margin: 40px auto;
    }
  }
}

footer {
  width: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  background: $color8;

  .footer-wrapper {
    width: 57.6%;
    margin: 0 auto;

    nav {
      width: 100%;
      margin-bottom: 45px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
          color: $color1;
          font-size: 16px;
          font-weight: 600;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .social {
        margin-left: 5px;

        a {
          margin-left: 17px;
        }

        a:first-child {
          margin-left: 1px;
        }

        p {
          margin-top: 20px;
          color: $color1;
          font-size: 14px;
          font-weight: 400;
        }
      }

      form {
        width: 53.5%;
        margin-right: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        input {
          width: 70%;
          height: 50px;
          padding-left: 4%;
          background: $color9;
          border: 0;
          border-radius: 2px;
          opacity: 0.6;
          font-size: 14px;
        }

        button {
          width: 28%;
          height: 50px;
          font-size: 14px;
        }
      }
    }
  }
}

.copy {
  width: 100%;
  line-height: 40px;
  background-color: $color8;
  opacity: 0.9;
  color: $color1;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
