$color1: rgb(255, 255, 255);
$color2: #090c16;
$color3: #ff8b00;
$color4: #5ca0df;
$color5: #f5f7fa;
$color6: #a4a4a4;
$color7: #545966;
$color8: #393c44;
$color9: rgba(255, 255, 255, .1);
$color10: rgba(0, 0, 0, .25);